h1 {
    color:darkblue; 
 }  
 img {
     width: 400px; height: 250px;
}
 #thirdDiv {
     height: 600px; width: 500px; 
     background-color:lightblue;
     border: darkred solid;
     padding: 50px;
 }
 #spanId {
     font-size: 18px;
     margin: 50px;
 }