body {
    background-image: url("fondo2.png");
    background-repeat: repeat;
}
h1 {
    color:darkblue; 
 }  
 img {
     width: 400px; height: 250px;
}
 #thirdDiv {
     height: 600px; width: 500px; 
     background-color:lightblue;
     border: black solid;
     padding: 50px;
     margin:auto;
 }
 #spanId {
     font-size: 18px;
     margin: 50px;
 }
 .divClass{
    text-align: center;
 }